AZURE_OPENAI_API_KEY=1UQFDhc7WVywhmyjFNh4uTeDlsLjZrJqiYcfJQz2nUhKIfHqypVmJQQJ99BFACHYHv6XJ3w3AAAAACOGKe3f
AZURE_OPENAI_ENDPOINT=https://forecastreport.openai.azure.com/
AZURE_OPENAI_ENGINE=gpt-4o
AZURE_OPENAI_API_VERSION=2023-05-15